body {
    background-color: #252422;
    color: #FFFCF2;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #252422;
    border-color: #EB5E28;
    border-style: solid;
}

nav ul {
    list-style: none;
    padding-left: 15px;
}

nav h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

header {
    background-color: #403D39;
    padding-left: 30px;
}

a {
    color: #FFFCF2;
    text-decoration: none;
}

a:hover, .new-post a:hover {
    color: #CCC5B9;

}

a:active, .new-post a:active {
    color: #EB5E28;
}

form {
    list-style: none;
}

.new-post a {
    color: #EB5E28;
}

button {
    color: #CCC5B9;
    background-color: #403D39;
    border-radius: 5px;
    border-style: none;
}

button:hover {
    background-color: #5a554f;
}

button:active {
    background-color: #CCC5B9;
    color: #403D39;
}

input, textarea, select {
    background-color: #403D39;
    color: #FFFCF2;
    border-style: none;
    border-radius: 5px;
}

::placeholder {
    color: #CCC5B9;
}

