nav {
    height: 1fr;
    width: 230px;
    position: fixed;
    right: 0px;
    overflow-x: hidden;
    margin-right: -210px;
    transition-duration: 0.8s;
    display: grid;
    grid-template-columns: 15px 1fr;
    padding-left: 8px;
    gap: 20px;
    border-left: 3px;
    margin-top: 5px;
}

nav:hover {
    margin-right: 0px;
}

nav h3 {
    word-wrap: break-word;
    grid-row: 1 / 4;
}

body {
    display: grid;
    grid-template-rows: 100px, 1fr;
    height: 100%;
    margin: 0px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-right: 30px;
    padding-left: 20px;

}

header {
    padding-right: 0px;
}

.blog-tags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-title {
    margin: 0px;
    text-align: center;
}

.category {
    margin: 0px;
    margin-top: 10px;
    margin-left: 15px;
}

.blog-author {
    text-align: center;
    margin: 5px;
}

.publish-date {
    text-align: center;
    margin: 2px;
}

.tag {
    padding: 8px;
    transition-duration: 0.2s;
    margin-top: 24px;
    margin-right: 5px;
}

.tag:hover {
    padding: 12px;
    margin-top: 20px;
}

.new-post {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag h5 {
    padding: 0px;
    margin: 0px;
}
